* {
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: "Big Shoulders Display";
}

p {
  font-family: "Outfit";
}

// <--------  MOBILE  -------->
@media (max-width: 767px) {
  .img-mobile {
    width: 100%;
    padding-bottom: 3.989vw;
  }
  .img-tablet {
    display: none;
  }
  .img-desktop {
    display: none;
  }
  h1 {
    font-size: 15.957vw;
    font-weight: 800;
    line-height: 14.628vw;
  }

  h2 {
    font-size: 13.298vw;
    font-weight: 800;
    line-height: 11.968vw;
    margin: 0vw;
  }

  p {
    font-size: 4.787vw;
    font-weight: 200;
    line-height: 7.557vw;
    padding: 7.979vw 0vw;
    margin: 0vw;
  }
}

// <--------  TABLET AND DESKTOP  -------->
@media (min-width: 768px) {
  .img-mobile {
    display: none;
  }
  .img-tablet {
    display: block;
  }
  .img-desktop {
    display: none;
  }
  h1 {
    font-size: 6.667vw;
    font-weight: 900;
    line-height: 6.111vw;
  }

  h2 {
    font-size: 4.167vw;
    font-weight: 800;
    line-height: 4.167vw;
    margin: 0vw;
  }

  p {
    font-size: 1.528vw;
    font-weight: 200;
    line-height: 2.222vw;
    margin: 0vw;
  }
}

// <--------  ONLY DESKTOP  -------->

@media (min-width: 921px) {
  .img-mobile {
    display: none;
  }
  .img-tablet {
    display: none;
  }
  .img-desktop {
    display: block;
  }
}
